.container {
  --container-max-width: 100%;
}

@media screen and (min-width: 550px) {
  .container {
    --container-max-width: 500px;
  }
}
@media screen and (min-width: 750px) {
  .container {
    --container-max-width: 650px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    --container-max-width: 800px;
  }
}

.container {
  max-width: var(--container-max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
